<div class="main-container">

    <div class="col-sm-10">
        <h1>Booking</h1>
        <h1 *ngIf="updated()" style="color: green;">Hotel Updated</h1>
        <form #HotelUpdateForm="ngForm" (ngSubmit)="updateHotel()">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Hotel Name:</label>
                <div class="col-sm-10">
                    <input name="hotelName" required [(ngModel)]="hotel.hotelName" #email="ngModel" type="text" class="col-sm-2 col-form-label" value={{hotel.hotelName}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Hotel City:</label>
                <div class="col-sm-10">
                    <input name="hotelCity" required [(ngModel)]="hotel.hotelCity" #email="ngModel" type="text" class="col-sm-2 col-form-label" value={{hotel.hotelCity}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Hotel Price:</label>
                <div class="col-sm-10">
                    <input name="hotelPrice" required [(ngModel)]="hotel.hotelPrice" #email="ngModel" type="text" class="col-sm-2 col-form-label" value={{hotel.hotelPrice}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Hotel Rooms:</label>
                <div class="col-sm-10">
                    <input name="hotelRooms" required [(ngModel)]="hotel.hotelRooms" #email="ngModel" type="text" class="col-sm-2 col-form-label" value={{hotel.hotelRooms}}>
                </div>
            </div>
            <button type="submit" (click)="home()" class="btn btn-primary">Home</button>
            <button type="submit" [disabled]="HotelUpdateForm.form.invalid" class="btn">Update</button>


            <!-- <fieldset class="form-group">
                <div class="row">
                    <label class="col-form-label col-sm-2 pt-0">Date</label>
                    <div class="col-sm-10">
                        <input style="color: white; background-color:black;" type="date">
                    </div>


                </div>
            </fieldset> -->
            <!-- <div class="form-group row">
                <div class="col-sm-10">
                    <h1 *ngIf="booked()" style="color: green;">Hotel Booked</h1>
                    <button type="submit" (click)="home()" class="btn btn-primary">Home</button>
                    <button *ngIf="!booked()" type="submit" (click)="payment()" class="btn btn-primary">Pay</button>
                </div>

            </div> -->
        </form>
    </div>

</div>